.buttonPort {
  border-radius: 50px;
  background-color: #2AEDCA;
  border: none;
  font-size: 15px;
  color: white;
  text-decoration: none;
  padding: 20px 25px;
}

.contReturnBut {
  padding: 30px 0;
}

.contHome {
  padding: 30px;
}
